
.container {
    margin-top: 13px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.containerCard {
    padding: 8px;
    width: 90%;
    border-radius: 6px;
    background: #eee;
    border-radius: 6px;
    box-shadow: -0.1em 0.1em 0.2em #359980;
}

.tableLink {
    color: black;
    text-decoration: underline;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
}

.btnEditar {
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 6px;
    background-color: #359980;
    color: #eee;
}